fastapi
uvicorn
sqlalchemy
psycopg[binary]
python-dotenv
pwdlib[argon2]
PyJWT
email-validator
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langgraph
httpx
fastembed
pgvector